docs/
*.nix
.direnv/
build/
e2e/
todo
*.db
test-results/
README.md

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.config.js
.graphqlrc
.editorconfig
.vscode
node_modules
build
package
**/.env
